<script>
const t = Sexel.tag('sexel-address',['email','name','address'],{
	onclick: (e) => { console.log(e); },
})
</script>
<style>
.sexel-address {
        display: flex;
        flex-direction: column;
	background-color: var(--base-background);
	font-size: var(--base-font-larger);
        width: 400px;
        border: var(--base-border);
        padding: 16px;
        border-radius: 8px;
        box-shadow: var(--base-shadow);
}

.sexel-address textarea {
	border: var(--input-border);
	width: 300px;
	resize: none;
}

.sexel-label {
	vertical-align: top;
	font-weight: bold;
}
</style>
<template id="sexel-address">
<table class="sexel-address">
<tbody>
<tr><td class="sexel-label">Name:</td><td id="name"></td></tr>
<tr><td class="sexel-label">Email:</td><td id="email"></td></tr>
<tr><td  class="sexel-label">Address</td><td><textarea id="address" rows="5" cols="30"></textarea></td></tr>
</tbody>
</table>
</template>


