<script>
    Sexel.tag('sexel-auth', ['action','user', 'password','label'], {
	ondraw: (self) => {
		const button = self.querySelector('#login')
		console.log(button)
		button.textContent = self.label()
	},
        onsubmit: (self,e) => {
            e.preventDefault()
	    const user = self.querySelector("#user").value
	    const password = self.querySelector("#password").value
	    fsm(self.action() || "auth",self, { user,password })
        }
    });
</script>

<style>
    .sexel-auth {
        display: flex;
        flex-direction: column;
        width: 300px;
        border: var(--base-border);
        padding: 16px;
        border-radius: var(--base-border-radius);
        background-color: var(--base-background);
        box-shadow: var(--base-shadow);
    }

    .sexel-auth input {
	background-color: var(--base-text);
	color: var(--base-inverse);
    }

    .sexel-auth button {
	background-color: var(--button-background-color);
	color: var(--button-color);
    }

    .sexel-auth button:hover {
        background-color: var(--button-hover-color);
    }

    .sexel-auth span {
        color: var(--color-error-background);
        display: none;
    }
</style>

<template id="sexel-auth">
    <form class="sexel-auth">
        <input type="email" id="user" placeholder="Email" required />
        <input type="password" id="password" placeholder="Password" required />
        <button class="sexel-button" id="login" type="submit"></button>
    </form>
</template>

