<script>
    Sexel.tag('sexel-auth', ['action','user', 'password','label'], {
	ondraw: (self) => {
		const button = self.querySelector('#login')
		console.log(button)
		button.textContent = self.label()
	},
        onsubmit: (self,e) => {
            e.preventDefault()
	    const user = self.querySelector("#user").value
	    const password = self.querySelector("#password").value
	    fsm(self.action() || "auth",self, { user,password })
        }
    });
</script>

<style>
    .sexel-auth {
        display: flex;
        flex-direction: column;
        width: 300px;
        border: 1px solid #ccc;
        padding: 16px;
        border-radius: 8px;
        background-color: #f9f9f9;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .sexel-auth input {
    }

    .sexel-auth button {
	background-color: rgb(100,142,174);
	color: rgb(250,250,250);
    }

    .sexel-auth button:hover {
        background-color: rgb(87,101,112);
    }

    .sexel-auth span {
        color: red;
        display: none;
    }
</style>

<template id="sexel-auth">
    <form class="sexel-auth">
        <input type="email" id="user" placeholder="Email" required />
        <input type="password" id="password" placeholder="Password" required />
        <button class="sexel-button" id="login" type="submit"></button>
    </form>
</template>

