<script>
    Sexel.tag('sexel-card', ['header','width','height'], {
        ondraw: (self) => {
            const card = self.querySelector('.card');
            const contentSlot = self.querySelector('#card-content');
	    self.querySelector('#card-header').textContent = self.header()	
	    const children = Array.from(self.children)
	    for (const child of children) {
		if (child.className =="card shadow") break;
		self.removeChild(child)
		contentSlot.appendChild(child.cloneNode())
	    }
        }
    });
</script>

<style>
.card {
display: block;
position: inline;
width: 300px;
border: var(--base-border);
border-radius: var(--base-border-radius);
box-shadow: var(--base-shadow);
background-color: var(--base-background);
padding: 20px;
cursor: default;
}

.card-header {
font-size: var(--base-font-largest);
font-weight: bold;
padding: 10px;
background-color: none;
border-bottom: var(--base-border);
color: var(--base-color-tint);
}

[draggable="true"] .card {
cursor: move;
}
</style>

<template id="sexel-card">
    <div class="card shadow">
        <div id="card-header" class="card-header"></div>
        <div class="card-body" id="card-content"></div>
    </div>
</template>

