<script>
    // Define the 'sexel-code' component using the Sexel framework
    Sexel.tag('sexel-code', ['language'], {
        ondraw: (self) => {
		const codeBlock = document.createElement('code')
		const language = self.language() || 'javascript'; // Default to 'javascript' if no language is specified
		codeBlock.classList.add(`language-${language}`)
		codeBlock.classList.add('shadow')
		console.log(self.textContent)
		const txt = self.textContent
		self.textContent = ''	// remove old contents
		console.log(txt)
		codeBlock.innerHTML = hljs.highlightAuto(txt).value;
		self.appendChild(codeBlock)
        }
    });
</script>

<style>

    code {
	display: block;
	white-space: pre;
        font-family: 'Consolas', 'Monaco', 'Courier New', monospace;
	padding: 10px;
        border-radius: 5px;
        background-color: var(--base-background);
        overflow-x: auto;

    }
</style>

<!-- Template for the sexel-code component -->
<template id="sexel-code">
</template>


