<script>
    // Define the 'sexel-progress' component using the Sexel framework
    Sexel.tag('sexel-progress', ['value', 'max', 'label'], {
        ondraw: (self) => {
            const progressBar = self.querySelector('#progress-bar');
            const label = self.querySelector('#progress-label');

            // Get progress progresss and apply default if missing
            const progress = parseInt(self.value()) || 0;
            const max = parseInt(self.max()) || 100;
            const progressPercent = Math.min((progress / max) * 100, 100); // Limit to 100%
	    console.log(progressPercent)

            // Update label and progress bar width
            label.textContent = `${progress} / ${max}`;
            progressBar.style.width = `${progressPercent}%`;
        }
    });
</script>

<style>
    #sexel-progress {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 500px;
        border-radius: var(--base-border-radius);
        background-color: var(--base-background);
        padding: 10px;
        box-shadow: var(--base-shadow);
        font-family: var(--base-font);
    }

    #progress-bar-container {
        width: 100%;
        height: 30px;
        background-color: var(--base-text);
        border-radius: 8px;
        overflow: hidden;
        position: relative;
    }

    #progress-bar {
        height: 100%;
        background-color: var(--base-color-tint);
        width: 0; 
        transition: width 0.8s ease-in-out;
    }

    #progress-label {
        margin-top: 10px;
        font-size: var(--base-font-larger);
        text-align: center;
        font-weight: bold;
        color: var(--base-text)
    }
</style>

<template id="sexel-progress">
    <div id="sexel-progress">
        <div id="progress-bar-container">
            <div id="progress-bar"></div>
        </div>
        <div id="progress-label"></div> <!-- Progress percentage or custom label -->
    </div>
</template>

